<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <div class="user-img-div">
                    <img src="assets/img/user.png" class="img-thumbnail" />

                    <div class="inner-text">
                        Mohammed Abdullah
                        <br />
                        <small>Last Login : 2 days Ago </small>
                    </div>
                </div>

            </li>


            <li>
                <a href="index.html"><i class="fa fa-home "></i>Home</a>
            </li>
            <li>
                <a  href="add-patient.html"><i class="fa fa-user "></i>Add New Patient </a>
            </li>
            <li>
                <a href="patient-history.html"><i class="fa fa-history"></i>View Patient History</span></a>
            </li>
            <li>
                <a href="alter-history.html"><i class="fa fa-edit "></i>Record History</span></a>
            </li>
            <li>
                <a href="request-resource.html"><i class="fa fa-hand-o-right "></i>Request a Resource</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-users "></i>Family History</span></a>
            </li>
            <li>
                <a ><i class="fa fa-sign-in "></i>Logout</a>
            </li>
        </ul>

    </div>

</nav>
<!-- /. NAV SIDE  -->